<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Faiza Iqbal's personal portfolio site showcasing experience, projects, publications, and certifications.">
  <title>Faiza Iqbal</title>
  
  <!-- Preload and include Bootstrap CSS -->
  <link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" as="style">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <!-- Include FontAwesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
  <link rel="stylesheet" href="assets/style.css">
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <header class="site-header navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand mx-auto" href="/" style="padding-left: 8px;">
      <span></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" aria-label="Homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/experience" aria-label="Experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects" aria-label="Projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publications" aria-label="Publications">Publications</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/certifications" aria-label="Certifications">Certifications</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/cv" aria-label="CV">CV</a>
        </li>
      </ul>
    </div>
  </header>

  <main class="main-content container">
    <!-- Profile Image and Title -->
    <div id="profile-header" class="profile-header text-center my-5">
      <img src="/assets/Faiza-img.jpeg" alt="Faiza Iqbal" class="logo-img">
    </div>

    <!-- Dynamic content will be injected here -->
    {{ content }}
  </main>


  <!-- Include Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.11/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Conditional display script -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var profileHeader = document.getElementById('profile-header');
      var currentPath = window.location.pathname;
      
      // Hide profile header by default
      profileHeader.style.display = 'none';
      
      // Show profile header only on home page
      if (currentPath === '/' || currentPath === '/index.html') {
        profileHeader.style.display = 'block';
      }
    });
  </script>
 <footer class="site-footer text-center py-4">
    <p>&copy; 2024 Faiza Iqbal</p>
  </footer>
</body>
   
</html>
